/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /**
 * Table
 */
.portfolio-input-text {
    width: 25em;
}
.ultimate-portfolio-heading {
    background: #F9F9F9;
    border-right: 1px solid #E1E1E1;
    padding: 13px 15px;
    width: 25%;
    color: #333;
    font-weight: bold;
}
.ultimate-portfolio-content {
    padding: 13px 15px;
    position: relative;
}
div#bsf-announcements.postbox h2.hndle,
.ultimate-portfolio-row td {
    padding: 12px 24px;
}
td.current-portfolio-type {
    color: #555;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 600;
}
.ultimate-portfolio-row td {
    border-bottom: 1px solid #f0f0f0;
}
.postbox table.ultimate-portfolio-table {
    border: none;
}
#poststuff .ultimate-portfolio .inside {
    margin: 0;
    padding: 0;
}
.ultimate-portfolio-image img {
    cursor: pointer;
    max-width: 100px;
    vertical-align: middle;
}
.ultimate-portfolio-remove-media {
    color: #a00;
    display: inline-block;
    margin-left: 1em;
}
.ultimate-portfolio-remove-media:hover {
    color: #dc3232;
}
.widefat td .ultimate-portfolio-image p {
    margin: 0.2em 0;
}

/**
 * Hide Edit URL box
 * Hide Elementor Edit Button
 * Hide Beaver Builder Edit Button
 */
.ultimate-portfolio-type-image #edit-slug-box,
.ultimate-portfolio-type-iframe #edit-slug-box,
.ultimate-portfolio-type-video #edit-slug-box,
.ultimate-portfolio-type-image .fl-builder-admin,
.ultimate-portfolio-type-iframe .fl-builder-admin,
.ultimate-portfolio-type-video .fl-builder-admin,
.ultimate-portfolio-type-image #elementor-switch-mode,
.ultimate-portfolio-type-iframe #elementor-switch-mode,
.ultimate-portfolio-type-video #elementor-switch-mode,
.admin-bar.post-type-ultimate-portfolio #wp-admin-bar-view {
    display: none;
}
#bsf-announcements .inside {
    margin:  0;
    padding: 0;
}
/*
 * Tooltip Support
 */
.ultimate-portfolio-row .portfolio-tooltip-text {
    background: #444;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    height: auto;
    left: 258px;
    margin-top: 8px;
    max-width: 150px;
    position: absolute;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: normal;
    padding: 6px 10px;
    top: auto;
    display: none;
    z-index: 10000;
}
.ultimate-portfolio-row .portfolio-tooltip-text::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #444;
    bottom: auto;
    content: " ";
    font-size: 0;
    left: 56px;
    line-height: 0;
    margin-left: -5px;
    position: absolute;
    top: -10px;
    width: 0;
}
.ultimate-portfolio-row .display_tool_tip {
    display: block;
}
.ultimate-portfolio-row .portfolio-help-tooltip {
    float: right;
    color: #b3b3b3;
}
.ultimate-portfolio-row .portfolio-help-tooltip:hover {
    cursor: help;
}